@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #4C3B4D;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
}
div{
    margin: 20px;
}
h1{
    color: #e4c0cd;
    text-align: center;
}
p{
    color: #e4c0cd;
    text-align: center;
    margin-top: 20px;
}
div img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
}
