@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #9CA3DB;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    background: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.404);
    padding: 10px;
}
h1{
    color: black;
    text-align: center;
    margin-top: 20px;
}
div img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
}
#verificar{
    margin-left: 20px;
    height: 25px;
    font-size: 16px;
}
div p{
    margin: 20px;
}
#msg{
    text-align: center;
}

